.navbar-1 {
  .btn-secondary {
    background: white;
    color: black;
  }
  .navbar-nav .nav-item {
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  .btn-primary {
    margin-top: 10px;
    margin-left: 0px !important;
  }
}

@media (max-width: 768px) {
  .btn-secondary {
    margin-top: 15px;
    margin-left: 0px !important;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 10px;
  }
}

.carousel-slide-1 {
  h3 {
    font-size: 50px;
  }
  p {
    font-size: 20px;
  }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .text-carousel-caption {
    text-align: left;
    top: 20%;
  }
}

@media (max-width: 400px) {
  .button-carousel {
    margin-bottom: 30px;
  }
  .text-carousel p {
    font-size: 15px;
  }
  .text-carousel h3 {
    font-size: 30px;
  }
}

.info {
  .info-panel {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    margin-top: 30px;
    padding: 30px;
  }
  .info-panel img {
    margin-right: 20px;
  }
  .info-panel h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .info-panel p {
    font-size: 15px;
  }
}

.produk {
  padding: 50px;
  background-color: #f7f9ff;

  img {
    object-fit: cover;
  }
}

@media (max-width: 400px) {
  .row-produk {
    display: flex;
    flex-wrap: wrap;
    margin-right: -45px;
    margin-left: -45px;
  }
}

.service {
  .jasa-service {
    margin-top: 50px;
  }
  img {
    width: 500px;
    border-radius: 12px;
  }
}

.section-testimonial {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-bottom: 50px;

  .section-testimonial-heading {
    padding-top: 50px;
  }
  h2 {
    font-weight: bold;
    font-size: 42px;
  }
  p {
    font-size: 18px;
  }
  .card-testimonial {
    padding: 30px 20px 10px;
    border-radius: 11px;
  }
  .testimonial-content {
    min-height: 200px;
  }
  h3 {
    font-size: 22px;
  }
  .isi-testimonial {
    font-size: 26;
    font-weight: 200;
    color: #575757;
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.section-footer {
  background-color: #f7f9ff;
  h5 {
    font-size: 20px;
  }
  a {
    color: black;
  }
  .list-group-item {
    background-color: #f7f9ff;
  }
}
